<div class="mx-auto max-w-[1440px] px-2 sm:px-6 lg:px-8 py-6 lg:py-8">
  <div class="flex-col flex sm:flex-row sm:items-start gap-4">
    <div class="sm:flex-auto sm:order-1 order-2">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Zaposlenici
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        Lista svih zaposlenika dohvaćenih preko API-a.
      </p>
      <div
        class="mt-4 flex flex-col md:flex-row gap-4 w-full items-center justify-start"
      >
        <div class="w-full">
          <label
            for="search"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Pretraži</label
          >
          <div class="mt">
            <input
              type="text"
              name="search"
              id="search"
              (input)="onSearch($event)"
              class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder="Pretraži zaposlenike po imenu ili prezimenu"
            />
          </div>
        </div>
        <div class="w-full">
          <label
            for="jobTitle"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Filtriraj po poziciji</label
          >
          <select
            id="jobTitle"
            name="jobTitle"
            (change)="onFilter($event)"
            class="mt block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option value="">Sve pozicije</option>
            <option value="Manager">Manager</option>
            <option value="Konzultant">Konzultant</option>
            <option value="Inženjer">Inženjer</option>
            <option value="Dizajner">Dizajner</option>
            <option value="Programer">Programer</option>
            <option value="Analitičar">Analitičar</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none order-1 sm:order-2">
      <button
        routerLink="/dodaj-zaposlenika"
        routerLinkActive="active"
        type="button"
        class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Dodaj zaposlenika
      </button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div
      class="-mx-4 -my-2 overflow-x-auto overflow-y-hidden sm:-mx-6 lg:-mx-8"
    >
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div *ngIf="isLoading" class="min-w-full divide-y divide-gray-300">
          <div class="animate-pulse">
            <div class="h-10 bg-gray-200 rounded mt-4"></div>
            <div class="flex flex-col space-y-4 mt-4">
              <div *ngFor="let _ of [1, 2, 3, 4, 5]" class="flex space-x-4">
                <div class="h-4 bg-gray-200 rounded w-1/4"></div>
                <div class="h-4 bg-gray-200 rounded w-1/4"></div>
                <div class="h-4 bg-gray-200 rounded w-1/4"></div>
                <div class="h-4 bg-gray-200 rounded w-1/4"></div>
              </div>
            </div>
          </div>
        </div>
        <table
          class="min-w-full divide-y divide-gray-300"
          *ngIf="filteredEmployees.length || !isLoading"
        >
          <thead>
            <tr>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                <div
                  (click)="sortBy('firstName')"
                  class="group inline-flex cursor-pointer"
                >
                  Ime
                  <span
                    class="ml-2 flex-none rounded bg-gray-100"
                    [ngClass]="{
                      'bg-gray-200 text-gray-900 group-hover:bg-gray-300':
                        activeSortField === 'firstName',
                      'invisible text-gray-400 group-hover:visible group-focus:visible':
                        activeSortField !== 'firstName'
                    }"
                  >
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </div>
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                <div
                  (click)="sortBy('lastName')"
                  class="group inline-flex cursor-pointer"
                >
                  Prezime
                  <!-- Active: "bg-gray-200 text-gray-900 group-hover:bg-gray-300", Not Active: "invisible text-gray-400 group-hover:visible group-focus:visible" -->
                  <span
                    class="ml-2 flex-none rounded"
                    [ngClass]="{
                      'bg-gray-200 text-gray-900 group-hover:bg-gray-300':
                        activeSortField === 'lastName',
                      'invisible text-gray-400 group-hover:visible group-focus:visible':
                        activeSortField !== 'lastName'
                    }"
                  >
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </div>
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Datum rođenja
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                <div
                  (click)="sortBy('jobTitle')"
                  class="group inline-flex cursor-pointer"
                >
                  Pozicija

                  <span
                    class="ml-2 flex-none rounded"
                    [ngClass]="{
                      'bg-gray-200 text-gray-900 group-hover:bg-gray-300':
                        activeSortField === 'jobTitle',
                      'invisible text-gray-400 group-hover:visible group-focus:visible':
                        activeSortField !== 'jobTitle'
                    }"
                  >
                    <svg
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody
            class="divide-y divide-gray-200"
            *ngIf="filteredEmployees.length && !isLoading"
          >
            <tr
              *ngFor="
                let employee of filteredEmployees
                  | paginate : { itemsPerPage: itemsPerPage, currentPage: p }
              "
            >
              <td
                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"
              >
                {{ employee.firstName }}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ employee.lastName }}
              </td>

              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ employee.dateOfBirth | date : "dd/MM/yyyy" }}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ employee.jobTitle }}
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="filteredEmployees.length === 0 && !isLoading">
          <span class="py-4 text-center text-sm text-gray-500"
            >Nema zaposlenika prema zadanom filtriranju i pretraživanju.</span
          >
        </div>
      </div>
    </div>

    <pagination-controls
      class="pagination"
      (pageChange)="p = $event"
      *ngIf="filteredEmployees.length || !isLoading"
    ></pagination-controls>
  </div>
</div>
